# Ignore cache files
*.cache

# Byte-compiled files
*.pyc
*.pyo
*.pyd

# Cache directories
__pycache__/

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Django files
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3

# Others
*.egg-info/
.eggs/
.coverage
*.egg
.DS_Store
*.swp